<div class="tool-bar"></div>
<div class="viewport">
  <div style="height: 500px; width: 2000px; margin: 50px; background: yellow;"></div>
  <div style="height: 500px; width: 2000px; margin: 50px; background: yellow;"></div>
  <div style="height: 500px; width: 2000px; margin: 50px; background: yellow;"></div>
  <div style="height: 500px; width: 2000px; margin: 50px; background: yellow;"></div>
</div>
<div class="prop-panel"></div>

{{#isDev}}
  <script src="//localhost:35729/livereload.js" type="text/javascript"></script>
{{/isDev}}