@import '../../../bower_components/normalize-css/normalize.css'
@import '../../../bower_components/stylus-nib'
@import '_regions'
@import '_helpers'

body
  font-family Tahoma
  margin 1em

h1, h2, h3, h4
  margin-bottom 0
